<!-- templates/view_orders.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>View Orders</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Order Date</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
            <td>{{ order[3] }}</td>
            <td>{{ order[4] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
